<div id="main" class="palm-hasheader">
    <div class="palm-header left" id="main-hdr">
        <div call="icon"></div>
		Account Editor
    </div>
</div>
<!-- Incoming Mail Server -->
<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>
        Ampache Server Settings
    </div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                     <div class="label" x-mojo-loc=''>
                        Account Name
                    </div>
					<div class="AccountNameField" id="AccountNameField" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
		<div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                     <div class="label" x-mojo-loc=''>
                        URL
                    </div>
					<div class="ServerURLField" id="ServerURLField" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label" x-mojo-loc=''>
                        Username
                    </div>
                    <div id="userNameField" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label" x-mojo-loc=''>
                        Password
                    </div>
                    <div id="passwordField" x-mojo-element="PasswordField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div x-mojo-element="Button" id="btnTestConnection"></div>

