<div id="recent-main" >
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
                <div class="now-playing-wrapper">
                    <span x-mojo-loc=''>Now Playing</span>
                </div>
            </div>
            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/recent.png'/></div>
                <div class="scene-title truncating-text" id="title" x-mojo-loc=''>Recently Added</div>
            </div>
        </div>
    </div>  
    <div id="spacerDiv" class="music-header-spacer"></div>
    
    <div id="search-group" class="palm-group unlabeled mainMenuList">
        <div id="search-list" class="palm-list">
            
            <div id="recentMenuList" class="mainMenuList" x-mojo-element="List"></div>
            
        </div>
    </div> 
    
</div>

