<!--
<div id="main" class="palm-hasheader music-songs">
	<div class="palm-header left" id="main-hdr">
	 Artists
		<div x-mojo-element="Spinner" id="artists-spinner" class='tinySpinner'  ></div>
	</div>
	

</div>
-->
<div id="main" class="palm-dark ">
<div x-mojo-element="ProgressPill" id="artistProgressbar" class="ProgressPillHeader"></div>
<div class="palm-header-spacer"></div>

<div class='customBackground'></div>



<div id="artistFilterList" x-mojo-element="FilterList" ></div>
<div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'  ></div>
</div>