<div id="whatsnew-main">
    <div id="header" class="palm-header left truncating-text">
	<div class="palm-header-wrapper">
	    <div class='header-body'>
		<div class='icon'><img class="icon-img" src='images/icons/ampache.png'></div>

		<div class="scene-title truncating-text" id="title" x-mojo-loc=''>
		    What's New!
		</div>
	    </div>
	</div>
    </div>

    <div id="spacerDiv" class="music-header-spacer"></div>

    <div id="new-version-text" class="palm-body-text">
		
    </div> 

    <div class="selection_target details">
	<table class="palm-divider collapsible" id="old-versions" x-mojo-touch-feedback="delayed">
	    <tr>
		<td class="left"></td>
		<td class="label">Old Versions</td>
		<td class="line"></td>
		<td>
		    <div class="palm-arrow-closed arrow_button"></div>
		</td>
		<td class="right"></td>
	    </tr>
	</table>

	<div id="old-version-drawer" class="collapsor" style="display:none;height:auto;">
	    <div id="old-version-text" class="palm-body-text">
		
	    </div>  
	</div>
    </div>
</div>
