<div id="connection-main" class="palm-hasheader">
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/network-lan.png'/></div>
                <div class="scene-title truncating-text" id="title" x-mojo-loc=''>Ampache Servers</div>
            </div>
        </div>
    </div>
    
    <div id="spacerDiv" class="music-header-spacer"></div>
    <div id="e_example">
        <div id="selectorList" x-mojo-element="List">
        </div>
    </div>
    <div id="connect-scrim" class="palm-scrim connect-scrim"></div>

    <div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'><span class="spinner-message">Connecting</span></div>

</div>
