<div id="ampache-main" class="palm-dark">
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
                <div class="now-playing-wrapper">
                    <span x-mojo-loc=''>Now Playing</span>
                </div>
            </div>
            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/random.png'/></div>
                <div class="scene-title truncating-text" id="title" x-mojo-loc=''>Random</div>
            </div>
        </div>
    </div>  
    <div id="spacerDiv" class="music-header-spacer"></div>
    <div class="palm-group unlabeled palm-dark mainMenuList">
                    
                    
                    
    <div x-mojo-element="Spinner" id="center-album-spinner" class="spinner-center random-album-spinner"></div>
    <div x-mojo-element="Spinner" id="left-album-spinner"  class="spinner-left random-album-spinner"></div>
    <div x-mojo-element="Spinner" id="right-album-spinner"  class="spinner-right random-album-spinner"></div>
    
    <div class="random-album-spinner spinner-left spinner-arrow"><img src="images/right.png"/></div>
    <div class="random-album-spinner spinner-right  spinner-arrow"><img src="images/left.png"/></div>
    
    <div id="myPhotoDiv" style="margin: 0 auto 0 auto;" x-mojo-element="ImageView" ></div>
    <div id="albumArtist" class="center-text small-font truncating-text">
               
            </div>
    </div>
    
    <div id="search-group" class="palm-group unlabeled palm-dark mainMenuList">
        <div id="search-list" class="palm-list">
            
            <div id="randomMenuList" class="mainMenuList" x-mojo-element="List"></div>
            
        </div>
    </div>
    
</div>

