<div class="palm-row multi-line" id='#{id}_example' x-Mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
        <div class="songsMenuLeft">
            <div class="truncating-text" id="title" x-mojo-loc=''>
                <div class="songTitle truncating-text">
                    #{-title}
                </div>
            </div>
            <div class="truncating-text songDesc truncating-text">
                #{-artist}&nbsp;-&nbsp;#{-album}<!--<a href="#" class="link" id='link_artist_#{-artist_id}'>#{-artist}</a>
                &nbsp;-&nbsp;
                <a href="#" class="link" id='link_album_#{-album_id}'>#{-album}</a>-->
            </div>
        </div>
        <div class="songsMenuRight">
            <img id="moreOptions" class="songsMenuIcon" src="images/icons/plus.png">
            </img>
        </div>
        <div class="mainMenuClear">
        </div>
    </div>
</div>
