<hr>

<div class="new-version-header">
    Version 0.9.6 (05/29/2010)
</div>
<hr>

<div class="new-version-header">
    <b>New Features</b>
</div>

<ul class="new-version-list">
    <li>Dashboard

        <ul class="new-version-list">
            <li>Displays current track, art and buffering info</li>
	    <li>Previous, Play, Pause and Next</li>
	    <li>Tap art or song info to return to app</li>
	    <li>Controls available from locked screen</li>
        </ul>
    </li>
 </ul>

<div class="new-version-header">
    <b>Improvements</b>

    <ul class="new-version-list">
	<li>Button to close release notes</li>
	<li>Saved search now a button on the header in the search screen</li>
    </ul>
</div>

<div class="new-version-header">
    <b>Bug Fixes</b>
</div>

<ul class="new-version-list">
    <li>Filtering songs and albums lists caused text overlap</li>
    <li>Stall detection tweaked furthur, less false positives</li>
</ul>
