<hr>

<div class="new-version-header">
    Version 0.9.5 (05/xx/2010)
</div>
<hr>

<div class="new-version-header">
    <b>New Features</b>
</div>

<ul class="new-version-list">
    <li>Dashboard?

        <ul class="new-version-list">
            <li></li>

	    
        </ul>
    </li>
 </ul>

<div class="new-version-header">
    <b>Improvements</b>

    <ul class="new-version-list">
	<li>Navigation in App Menu, Jump to the Home and Search Screens from any Screen</li>
    </ul>
</div>

<div class="new-version-header">
    <b>Bug Fixes</b>
</div>

<ul class="new-version-list">
    <li>None yet</li>
</ul>
