<div id="search-main">
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
                <div class="now-playing-wrapper">
                    <span x-mojo-loc=''>Now Playing</span>
                </div>
            </div>

            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/SavedSearch.png'></div>

                <div class="scene-title truncating-text" id="title" x-mojo-loc=''>
                    Saved Searches
                </div>
            </div>
        </div>
    </div>


    <div id="spacerDiv" class="music-header-spacer"></div>

    <div id="saved-searches-list" class="mainMenuList" x-mojo-element="List"></div>
    <div class="saved-search-tips">Tap Icon to Edit, Swipe to Delete, Hold to Reorder</div>
</div>
