<div id="main" class="albums palm-dark">
	<!--
	<div  class="palm-header left"> 
	
		<span class="truncating-text" id="title" x-mojo-loc=''></span>
		<div x-mojo-element="Spinner" id="albums-spinner" class='tinySpinner'></div>
		
	</div>
	  -->


<div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'  ></div>
		      	
<div class='customBackground'></div>
<div x-mojo-element="ProgressPill" id="albumProgressbar" class="ProgressPillHeader"></div>
<div class="palm-header-spacer"></div>


<div id="shuffleForArtist">
 <div id="shuffleAll" class="shuffle-all-list-item palm-row single" x-mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
      <!--
	  <div class="music-songs-thumbnail-previews" >
        <div id="albumArtLeft"  class="thumb left">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
        <div id="albumArtCenter"  class="thumb center">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
        <div id="albumArtRight" class="thumb right">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
      </div>
      <div class="count-pill-container">
      	<div class="count-pill-wrapper" id="shuffle-count"></div>
      </div> 
	  -->     
     
		  <div class="shuffleLeft shuffleAllText"> 
    
       	<div class="truncating-text" x-mojo-loc=''>Shuffle All</div>     
    </div>
			<div class="shuffleLeft shuffleAllIcon">
			<img id="coverArt"></img>
			</div>
	                  
    </div>
  </div>

  <div id="spacerDiv" class="music-alpha-divider-spacer" style="display:none;"></div>  

  <div id="thick-border" class="thick-bottom-border" style="display:block;"></div>
</div>
<div id="albumsFilterList" x-mojo-element="FilterList" ></div>
</div>