<div class="palm-row multi-line" id='#{id}_example' x-Mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
        <div class="albumLeft">
            <div class="truncating-text"  id="title" x-mojo-loc=''><div class="truncating-text artistAlbumTitle">#{-name}</div></div>
            <div class="artistAlbumDesc">#{-description}</div>
        </div>
        <div class="albumRight">
             <img class="palm-dashboard-icon" src="#{art}"></img>
        </div>
        <div class="albumClear"></div>
    </div>
</div>
