<div id="main" class="palm-dark palm-hasheader">
    <div class="palm-header left" id="main-hdr">
        Ampache Music Server
        <div x-mojo-element="Spinner" id="mainmenu-spinner" class='tinySpinner'>
        </div>
    </div>
    <div id="search" class="mainMenuList palm-row single" x-mojo-tap-highlight="momentary">
        <div  id='search' class="palm-row multi-line single"  x-Mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div class="mainMenuLeft">
                    <div class="mainMenuTitle">
                        Search
                    </div>
                </div>
                <div class="mainMenuRight">
                    <img class="mainMenuIcon" src="images/icons/search.png">
                    </img>
                </div>
                <div class="mainMenuClear">
                </div>
            </div>
        </div>
    </div>
    <div class="palm-divider solid">
    </div>
    <div id="mainMenuList" class="mainMenuList" x-mojo-element="List">
    </div>
    <div class='customBackground'>
    </div>
    <div id="audioPlayerDiv">
    </div>
</div>
