<div id="mainmenu-main" class="palm-hasheader">
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
                <div class="now-playing-wrapper">
                    <span x-mojo-loc=''>Now Playing</span>
                    
                </div>
            </div>
           
            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/ampache.png'/></div>
                <div class="scene-title truncating-text mainmenu-title" id="title" x-mojo-loc=''>Ampache Music Server</div>
            </div>
        </div>
    </div>
    
    <div id="spacerDiv" class="music-header-spacer"></div>
    
    <div id="search" class="mainMenuList palm-row single" x-mojo-tap-highlight="momentary">
        <div  id='search' class="palm-row multi-line single"  x-Mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div class="mainMenuLeft">
                    <div class="mainMenuTitle">
                        Search
                    </div>
                </div>
                <div class="mainMenuRight">
                    <img class="mainMenuIcon" src="images/icons/search.png">
                    </img>
                </div>
                <div class="mainMenuClear">
                </div>
            </div>
        </div>
    </div>
    
    <div class="palm-dark">
        <div class="palm-divider solid"></div>
    </div>
    
    <div id="mainMenuList" class="mainMenuList" x-mojo-element="List"></div>
    
     <div class="ampache-version">
                <span id="ampache-version" x-mojo-loc=''></span>
     </div>
    
</div>
