<div id="mainmenu-main" class="palm-hasheader">
	<div id="header" class="palm-header left truncating-text">
		<div class="palm-header-wrapper">
			<div class="header-body">
				<div class="icon"><img class="icon-img" src="images/icons/ampache.png"></div>

				<div id="title" class="scene-title truncating-text mainmenu-title" x-mojo-loc="x-mojo-loc">
					Introduction
				</div>
			</div>
		</div>
	</div>

	<div id="spacerDiv" class="music-header-spacer"></div>

	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="x-mojo-loc">
			What is Ampache Mobile?
		</div>

		<div style="margin: 0px" class="palm-body-text condensed" x-mojo-loc="x-mojo-loc">
			Ampache Mobile is a webOS application for streaming music from an <a href="http://ampache.org/">Ampache Server</a>.
			Using Ampache Mobile with Ampache you can stream all of YOUR music over your internet connection anywhere you take your mobile phone.
			It operates much like most music players with one major difference, everything is streaming over the network.
			That means no syncing, all the music on your computer available on your phone. 
			<br>
			<br>
			<b>WARNING</b>
			<hr>
			This app requires an Ampache Server to connect to. <strong>That means you will be responsible for installing and configuring your very own web server</strong>.
			<br>
			<br>
			Setting up Ampache is not a hard task but it's also not trivial. If you are a beginner be sure to read up and look to the forums at ampache.org and precentral.net for help and be prepared to spend some time.
				
		</div>
	</div>

	


	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="x-mojo-loc">
			Features
		</div>

		<div style="margin: 0px" class="palm-body-text condensed" x-mojo-loc="x-mojo-loc">
			<strong>Smart Buffering</strong>
			<hr>
			Ampache Mobile will attempt buffer tracks ahead of what you are playing to provide a seamless music experience.<br>
			<br>
			<strong>Transcoding</strong>
			<hr>
			With transcoding you can play audio formats not currently supported in WebOS such as ogg and flac. Also you can down sample high bitrate files and save precious bandwidth.<br>
			<br>
			<strong>Search</strong>
			<hr>
			Have a very large collection? Ampache Mobile allows you to find what you are looking for extremely fast.<br>
			<br>
			<strong>Cover Art</strong>
			<hr>
			If your Ampache Server has cover art this app will use it.<br>
			<br>
			<strong>Share Servers</strong>
			<hr>
			Ampache Mobile supports multiple servers. Trade with friends and have access to their entire music collection as well.<br>
			<br>
			<strong>Security</strong>
			<hr>
			Ampache has strict security rules to stop people you don't want accessing your collection from doing so.<br>
			<br>
			<strong>Ampache</strong>
			<hr>
			Ampache is designed to give you a one stop website for your music collection. Once you get Ampache working not only can you access your collection from your phone you can access it anywhere with a standard web browser.
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="x-mojo-loc">
			More Help
		</div>

		<div style="margin: 0px" class="palm-body-text condensed" x-mojo-loc="x-mojo-loc">
			<a href="http://code.google.com/p/ampache-mobile/wiki/WindowsAmpacheServer">Windows Server Installation</a><br>
			<a href="http://code.google.com/p/ampache-mobile/wiki/CommonIssues">Common Issues</a>
		</div>
	</div>
</div>
