<div class="new-version-header">
    Version 0.9.2 (04/21/2010)
</div><br>



<div class="new-version-header">
    <b>Improvements</b>
</div>

<ul class="new-version-list">
    <li>Sorting: Tap and Hold the Header on any list to bring up a sort menu. Only the Albums Sort saves its state.</li>
    <li>Jump: Added Jump to Top/Bottom on Songs, Genre and Playlist screens</li>
</ul>

<div class="new-version-header">
    <b>Bug Fixes</b>
</div>

<ul class="new-version-list">
    <li>Playback errors sometime broke the now playing list</li>
</ul>
