<hr><div class="new-version-header">
    Version 0.9.2 (04/21/2010)
</div><hr>



<div class="new-version-header">
    <b>Improvements</b>
</div>

<ul class="new-version-list">
    <li>Sorting: Tap and Hold the Header on any list to bring up a sort menu. Only the Albums Sort saves its state.</li>
    <li>Jump: Added Jump to Top/Bottom on Songs, Genre and Playlist screens</li>
</ul>

<div class="new-version-header">
    <b>Bug Fixes</b>
</div>

<ul class="new-version-list">
	<li>Infinite loop in now playing screen caused the app to lock up, resulting in audio stall detection.</li>    
    <li>Playback errors sometime broke the now playing list.</li>
	<li>Fixed Check for Updates so it doesn't have to launch the browser.</li>
</ul>
