<div id="main" class="palm-hasheader preferences">
    <div class="palm-header left" id="main-hdr">
        <div call="icon">
        </div>
        Ampache Mobile Preferences
    </div>
    <div class="palm-group">
        <div class="palm-group-title">
            Startup Account
        </div>
        <div class="palm-list">
            <div class="palm-row first last" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div id="accountSelector" x-mojo-element="ListSelector">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="e_example">
        <div id="innerList" x-mojo-element="List">
        </div>
    </div>
	<div x-mojo-element="Button" id="backgroundBtn"></div>
    <div class="palm-group">
        <div class="palm-group-title">
            More Options
        </div>
        <div class="palm-list">
            <div class="palm-row first" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <table class="palm-list-section-label">
                        <tr>
                            <td>
                                <span class="palm-text-wrapper" x-mojo-loc="">Art in Artist/Albums</span>
                            </td>
                            <td>
                                <div id="art-toggle" x-mojo-element="ToggleButton" class="toggle-text">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="palm-row" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <table class="palm-list-section-label">
                        <tr>
                            <td >
                                <span class="palm-text-wrapper" x-mojo-loc="">Stream Debug</span>
                            </td>
                            <td>
                                <div id="stream-debug-toggle" x-mojo-element="ToggleButton" class="toggle-text">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <table class="palm-list-section-label">
                    	
						<span class="palm-text-wrapper" x-mojo-loc="">Album/Artist/Songs Fetch Size</span>
                        <div id="slider" x-mojo-element="Slider"></div>
						<span id="fetchSize" class="palm-text-wrapper" x-mojo-loc="">Items:</span>
                    </table>
                </div>
            </div>
			
			
        </div>
    </div>
</div>
