<div id="mainmenu-main" class="palm-hasheader">
	<div id="header" class="palm-header left truncating-text">
		<div class="palm-header-wrapper">
			<div class="header-body">
				<div class="icon"><img class="icon-img" src="images/icons/ampache.png"></div>

				<div id="title" class="scene-title truncating-text mainmenu-title" x-mojo-loc="x-mojo-loc">
					Check for Updates
				</div>
			</div>
		</div>
	</div>

	<div id="spacerDiv" class="music-header-spacer"></div>

	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="x-mojo-loc">
			Updates
		</div>

		<div style="margin: 0px" class="palm-body-text condensed" x-mojo-loc="x-mojo-loc">
		        Wait for automatic launch of App Catalog, or click 	
			<a href='http://developer.palm.com/appredirect/?packageid=com.app.ampachemobile'>Palm Web Distribution</a>
							
		</div>
	</div>
</div>