<div id="main" class="palm-hasheader  music-songs">
	<div class="palm-header left" id="main-hdr">
      <!--
	  <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
        <div class="now-playing-wrapper">
          <span x-mojo-loc=''>Now Playing</span>
        </div>
      </div>
	  -->
      <div class="truncating-text" id="title" x-mojo-loc=''>
      	
      </div>
    </div>
  </div>    

<div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'  ></div>  
<div class='customBackground'></div>

  <div id="shuffleAll" class="shuffle-all-list-item palm-row single" x-mojo-tap-highlight="momentary" style="margin-top:52px">
    <div class="palm-row-wrapper">
      <!--
	  <div class="music-songs-thumbnail-previews" >
        <div id="albumArtLeft"  class="thumb left">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
        <div id="albumArtCenter"  class="thumb center">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
        <div id="albumArtRight" class="thumb right">
          <div class="music-songs-overlay"></div>
          <div class="music-songs-thumbnail"><img class="music-songs-image" src="images/default-album-art-list-view.png" /></div>
        </div>
      </div>
      <div class="count-pill-container">
      	<div class="count-pill-wrapper" id="shuffle-count"></div>
      </div> 
	  -->    

	  <div class="shuffleLeft"> 
      <div class="title">
      	
        	<div class="truncating-text shuffle-text" x-mojo-loc=''>Shuffle All</div>     
       </div> 	
		</div>
			  <div class="shuffleRight">
			<img width="45px" height="45px" id="coverArt"></img>
	</div>

	                      
    </div>
  </div>

  <div id="spacerDiv" class="music-alpha-divider-spacer" style="display:none;"></div>  

  <div id="thick-border" class="thick-bottom-border" style="display:block;"></div>

<div id="songsList" x-mojo-element="List" ></div>

