<div id="main" class="palm-dark ">
    <div x-mojo-element="ProgressPill" id="ProgressBar" class="ProgressPillHeader">
    </div>
    <div class="palm-header-spacer">
    </div>
    <div class='customBackground'>
    </div>
    <div id="genreFilterList" x-mojo-element="FilterList">
    </div>
    <div id="spinner-scrim" class="palm-scrim"></div>
    <div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'>
        <span id="wait-message" class="spinner-message">Retrieving<br>Genres</span>
    </div>
</div>
