<div id="main" class="palm-hasheader preferences">
    <div class="palm-header left" id="main-hdr">
        <div call="icon"></div>
		Ampache Mobile Preferences
    </div>




	Startup Account
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row first last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="accountSelector" x-mojo-element="ListSelector"></div>                                                   
				</div>
			</div>
			
		</div>     	
	</div>
	
<div id="e_example"><div id="innerList" x-mojo-element="List"></div></div>


<div class="palm-button primary" id="backgroundBtn">Background</div>

<table class="palm-list-section-label">
	<tr>
		<td>
			<span x-mojo-loc="">Enable More CoverArt</span>		
		</td>
		<td>
			<div id="art-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
			</div>
		</td>	
	</tr>
</table>

<table class="palm-list-section-label">
	<tr>
		<td>
			<span x-mojo-loc="">Enable Stream Debug</span>		
		</td>
		<td>
			<div id="stream-debug-toggle" x-mojo-element="ToggleButton" class="toggle-text">				
			</div>
		</td>	
	</tr>
</table>

</div>