   <div class="new-version-header">
         <b>Keyboard Commands</b>
   </div>

   <ul class="new-version-list">
         <li>Previous Track: <b>@</b> (Left of space bar)</li>

         <li>Next Track: <b>Period</b> (Right of space bar)</li>

         <li>Skip 15 second ahead: <b>P</b> (Upper Right Key)</li>

         <li>Skip 15 second back: <b>Q</b> (Upper Left Key)</li>

         <li>Toggle Play/Pause: <b>Space Bar</b></li>

         <li>Toggle Shuffle Mode: <b>S</b></li>

         <li>Toggle Repeat Mode: <b>R</b></li>

         <li>Toggle View: <b>V</b></li>
   </ul>

   <div class="new-version-header">
         <b>Headset Commands</b>
   </div>

   <ul class="new-version-list">
         <li>Toggle Play/Pause: Single Click</li>

         <li>Previous Track: Push and Hold</li>

         <li>Next Track: Double Click</li>
   </ul>