
     <div class="new-version-header">
         Version 0.8.6 (Beta) (XX/XX/2010)
     </div><br>

     <div class="new-version-header">
         New Features
     </div>

     <ul class="new-version-list">
         <li>Search Recent Additions</li>
         <li>Improving user experience</li>
            <li style="list-style: none; display: inline">
                     <ul class="new-version-list">
                         
                         <li>Release Notes</li>
                         
                         <li>Help Page</li>

                         <li>Keyboard Commands Popup</li>

                         
                     </ul>
                 </li>
     </ul>

     <div class="new-version-header">
         <b>Improvements</b>
     </div>

     <ul class="new-version-list">
        
         <li>Figured out how to use the Shift and Sym Keys, updated the controls popup with changes.</li>
         <li>Lowered the search character limit to 2, damn u 'The XX'</li>
     </ul>

     <div class="new-version-header">
         <b>Bug Fixes</b>
     </div>

     <ul class="new-version-list">
         <li>None Yet</li>
     </ul>