<div id="songs-main" class="palm-hasheader">
    
    <div id="header" class="palm-header left truncating-text">
        <div class="palm-header-wrapper">
            <div id='now-playing-button' class="now-playing-button" x-mojo-tap-highlight="immediate">
                <div class="now-playing-wrapper">
                    <span x-mojo-loc=''>Now Playing</span>
                </div>
            </div>
            <div class='header-body'>
                <div class='icon'><img class="icon-img" src='images/icons/songs.png'/></div>
                <div class="scene-title truncating-text" id="title" x-mojo-loc=''></div>
            </div>
        </div>
    </div>  
    
    <div id="spacerDiv" class="music-header-spacer"></div>
    <div id="scrim" class="palm-scrim"></div>
    
    <div id="shuffleAll" class="shuffle-all-list-item palm-row single" x-mojo-tap-highlight="momentary">
        <div class="palm-row-wrapper ">
            <div class="mainMenuLeft">
                    <div class="mainMenuTitle">
                        Shuffle All
                    </div>
                </div>
                <div class="mainMenuRight">
                    <img class="mainMenuIcon" src="images/icons/shuffle.png">
                    </img>
                </div>
                <div class="mainMenuClear">
                </div>
                <div id="songsPill" class="count-pill-container single-art">
                    <div id="numSongs" class="count-pill-wrapper">
                        0
                    </div>
                </div>
        </div>
    </div>
    
    <div id="thick-border" class="thick-bottom-border" style="display:block;"></div>
    
    <div id="listContainer" style=" width:100%;top: 110px; bottom: 0px; position:fixed;" >
	
	<div style="height:100%;" x-mojo-element="Scroller">
		<div x-mojo-element="FilterList" id="songsList"">
		</div>
	</div>
	
    </div>
    
    <!--<div id="songsList" x-mojo-element="FilterList"></div>-->
</div>
