   <div class="new-version-header">
         <b>Keyboard Commands</b>
   </div>

<table width = "100%" style="margin-top:-10px;">
      <tr>
            <td class="help-button-img funckey" >
                  <div class="keyboard-button funckey">
                  Shift
                  </div>
            </td>
            
            <td class="help-button-img stdkey" >
            <div class="keyboard-button stdkey">
            @
            </div>
            </td>
            <td class="help-button-img spacebar">
            <div class="keyboard-button spacebar">
            Space
            </div>
            </td>
            <td class="help-button-img stdkey" >
            <div class="keyboard-button stdkey">
            .
            </div>
            </td>
            <td class="help-button-img funckey" >
            <div class="keyboard-button funckey" >
            Sym
            </div>
            </td>
      </tr>
      
      <tr>
            <td class="help-button">
            15 Sec Skip Back      
            </td>
            
            <td class="help-button">
            Prev Track
            </td>
            <td class="help-button">
            Play Pause Toggle
            </td>
            <td class="help-button">
            Next Track
            </td>
            <td class="help-button">
            15 Sec Skip Fwd
            </td>
      </tr>
      
</table>






   <ul class="new-version-list">

         <li>Toggle Shuffle Mode: <b>S</b></li>

         <li>Toggle Repeat Mode: <b>R</b></li>

         <li>Toggle View: <b>V</b></li>
   </ul>


<table class="new-version-list" " width = "100%">
      <tr>
            <td>
                 
            </td>
            <td  style="font-weight:bold">
                  Headset Commands
            </td>
            
            <td style="font-weight:bold">
            Album Art Gestures
            </td>
            
      </tr>
      <tr">
            <td style="font-weight:bold">
             Play/Pause
            </td>
            <td>
                  Single Click
            </td>
            
            <td>
            Double tap
            </td>
            
      </tr>
      
      <tr>
            <td  style="font-weight:bold">
                 Next Track
            </td>
            <td>
                  Double Click
            </td>
            
            <td>
            Swipe Right to Left
            </td>
            
      </tr>
      
        <tr>
            <td  style="font-weight:bold">
                 Prev Track
            </td>
            <td>
                  Push and Hold
            </td>
            
            <td>
            Swipe Left to Right
            </td>
            
      </tr>
      
</table>
