<div class="palm-row multi-line" id='#{name}_example' x-Mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
        <div class="mainMenuLeft">
            <div class="mainMenuTitle">
                #{-name}
            </div>
        </div>
        <div class="mainMenuRight">
            <img class="mainMenuIcon" src="#{icon}">
            </img>
        </div>
        <div class="mainMenuClear">
        </div>
        <div id="count-#{-name}" class="count-pill-container single-art" style="display: #{displayCount};">
            <div class="count-pill-wrapper">
                #{description}
            </div>
        </div>
    </div>
</div>