<div id="main" class="palm-dark">
    <div x-mojo-element="ProgressPill" id="randomProgressbar" class="ProgressPillHeader"></div>
    <div class="palm-header-spacer"></div>
    <div id="search-scrim" class="palm-scrim"></div>
    <div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'><span id="wait-message" class="spinner-message">Searching</span></div>
    
    <div class="palm-group unlabeled palm-dark mainMenuList">
                    
                    
                    
    <div x-mojo-element="Spinner" id="center-album-spinner" class="spinner-center random-album-spinner"></div>
    <div x-mojo-element="Spinner" id="left-album-spinner"  class="spinner-left random-album-spinner"></div>
    <div x-mojo-element="Spinner" id="right-album-spinner"  class="spinner-right random-album-spinner"></div>
    
    <div class="random-album-spinner spinner-left spinner-arrow"><img src="images/right.png"/></div>
    <div class="random-album-spinner spinner-right  spinner-arrow"><img src="images/left.png"/></div>
    
    <div id="myPhotoDiv" style="margin: 0 auto 0 auto;" x-mojo-element="ImageView" ></div>
    <div id="albumArtist" class="center-text small-font truncating-text">
                Artist - Album 
            </div>
    </div>
    
    <div id="search-group" class="palm-group unlabeled palm-dark mainMenuList">
        <div id="search-list" class="palm-list">
            
            <div class="palm-row first" id='randomArtists' x-Mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div class="mainMenuLeft">
                        <div class="mainMenuTitle">Artists</div>
                    </div>
                    <div class="mainMenuRight">
                        <img class="mainMenuIcon" src="images/icons/artists.png"></img>
                    </div>
                    <div class="mainMenuClear"></div>
                </div>
            </div>
            <div class="palm-row" id='randomAlbum' x-Mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div class="mainMenuLeft">
                        <div class="mainMenuTitle">Albums</div>
                    </div>
                    <div class="mainMenuRight">
                        <img class="mainMenuIcon" src="images/icons/albums.png"></img>
                    </div>
                    <div class="mainMenuClear"></div>
                </div>
            </div>
            <div class="palm-row last" id='randomSongs' x-Mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div class="mainMenuLeft">
                        <div class="mainMenuTitle">Songs</div>
                    </div>
                    <div class="mainMenuRight">
                        <img class="mainMenuIcon" src="images/icons/songs.png"></img>
                    </div>
                    <div class="mainMenuClear"></div>
                </div>
            </div>
            <!--
            <div class="palm-row last" id='searchPlaylists' x-Mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div class="mainMenuLeft">
                        <div class="mainMenuTitle">Playlists</div>
                    </div>
                    <div class="mainMenuRight">
                        <img class="mainMenuIcon" src="images/icons/playlists.png"></img>
                    </div>
                    <div class="mainMenuClear"></div>
                </div>
            </div>
            
            <div class="palm-row" id='searchGenres' x-Mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper">
                    <div class="mainMenuLeft">
                        <div class="mainMenuTitle">
                            Genres
                        </div>
                    </div>
                    <div class="mainMenuRight">
                        <img class="mainMenuIcon" src="images/icons/genres.png">
                        </img>
                    </div>
                    <div class="mainMenuClear">
                    </div>
                </div>
            </div>-->
            
        </div>
    </div>
</div>

