<!--
<div id="main" class="palm-hasheader music-songs">
<div class="palm-header left" id="main-hdr">
Artists
<div x-mojo-element="Spinner" id="artists-spinner" class='tinySpinner'  ></div>
</div>
</div>
-->
<div id="main" class="palm-dark">
    <div x-mojo-element="ProgressPill" id="playlistProgressbar" class="ProgressPillHeader">
    </div>
    <div class="palm-header-spacer">
    </div>
    <div class='customBackground'>
    </div>
    <div id="playlistFilterList" x-mojo-element="FilterList">
    </div>
    <div id="spinner-scrim" class="palm-scrim"></div>
	<div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'>
        <div class="spinner-message">
            Retrieving
            <br>
            Data
        </div>
    </div>
</div>