<div id="main" class="albums palm-dark">
    <!--
    <div  class="palm-header left">
    <span class="truncating-text" id="title" x-mojo-loc=''></span>
    <div x-mojo-element="Spinner" id="albums-spinner" class='tinySpinner'></div>
    </div>
    -->
    <div id="spinner-scrim" class="palm-scrim">
    </div>
    <div x-mojo-element="Spinner" id="large-activity-spinner" class='centerSpinner'>
        <div class="spinner-message">
            Retrieving
            <br>
            Data
        </div>
    </div>
    <div class='customBackground'>
    </div>
    <div x-mojo-element="ProgressPill" id="albumProgressbar" class="ProgressPillHeader">
    </div>
    <div class="palm-header-spacer">
    </div>
    
    <div id="shuffleForArtist">
        <!--<div id="shuffleAll" class="shuffle-all-list-item palm-row single" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div class="shuffleLeft shuffleAllText">
                    <div class="truncating-text" x-mojo-loc=''>
                        Shuffle All
                    </div>
                </div>
                <div class="shuffleLeft shuffleAllIcon">
                    <img src="images/icons/shuffle.png" id="coverArt">
                    </img>
                </div>
            </div>
        </div>-->
        <div id="allSongs" class="palm-row multi-line" id='#{name}_example' x-Mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
        <div class="mainMenuLeft">
            <div class="mainMenuTitle">
                All Songs
            </div>
        </div>
        <div class="mainMenuRight">
            <img class="mainMenuIcon" src="images/icons/songs.png">
            </img>
        </div>
        <div class="mainMenuClear">
        </div>
        <div  class="count-pill-container single-art">
            <div id="numSongs" class="count-pill-wrapper">
                0
            </div>
        </div>
    </div>
</div>
        <div id="spacerDiv" class="music-alpha-divider-spacer" style="display:none;">
        </div>
        <div id="thick-border" class="thick-bottom-border" style="display:block;">
        </div>
    </div>
    <div id="albumsFilterList" x-mojo-element="FilterList">
    </div>
</div>
