<div class="palm-row multi-line" id='#{id}_example' x-Mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper">
        <!--<div class="artistAlbumTitle truncating-text">#{-name}</div>
        <div class="artistAlbumDesc" style="float: left;">#{-artist}</div>
        <div class="artistAlbumDesc" style="float: right;">#{-description}</div>
        <div style="clear: both;"></div>-->
        
        <div class="albumLeft">
            <div class="artistAlbumTitle truncating-text">#{-name}</div>
        <div class="artistAlbumDesc" style="float: left;">#{-artist}</div>
        <div class="artistAlbumDesc" style="float: right;">#{-description}</div>
        <div style="clear: both;"></div>
        </div>
        <div class="albumRight">
             <img class="palm-dashboard-icon" src="#{art}"></img>
        </div>
        <div class="albumClear"></div>
    </div>
</div>
